body{
background:#0f172a;
color:white;
font-family:Arial;
margin:0;
}

/* Dashboard 居中 */

.dashboard{
max-width:1400px;
margin:auto;
padding:20px;
box-sizing:border-box;
}

/* 标题 */

h1{
text-align:center;
color:#38bdf8;
margin-bottom:25px;
font-size:32px;
letter-spacing:1px;
}

h2{
font-size:22px;
margin-bottom:10px;
}

h3{
font-size:18px;
margin-bottom:10px;
}

/* 顶部统计 */

.stats{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
margin-bottom:25px;
}

.statCard{
background:#1e293b;
padding:18px;
border-radius:12px;
text-align:center;
box-shadow:0 0 12px rgba(56,189,248,0.25);
font-size:15px;
}

.statNumber{
font-size:30px;
color:#38bdf8;
font-weight:bold;
margin-top:5px;
}

/* 主布局 */

.mainGrid{
display:grid;

/* 左图表 / 图表 / AdRules / Event */

grid-template-columns:1.3fr 1.3fr 0.9fr 1.1fr;

/* 高度稍微降低 */

grid-template-rows:300px 300px 300px;

gap:20px;
align-items:stretch;
}

/* 图表 */

.chart{
background:#1e293b;
padding:18px;
border-radius:12px;
box-shadow:0 0 12px rgba(56,189,248,0.25);
height:100%;
display:flex;
flex-direction:column;
}

/* 图表大小 */

.chart canvas{
height:220px !important;
}

/* 卡片 */

.card{
background:#1e293b;
padding:18px;
border-radius:12px;
box-shadow:0 0 12px rgba(56,189,248,0.25);
font-size:14px;
line-height:1.6;
height:100%;
display:flex;
flex-direction:column;
}

/* Grid 位置 */

.peopleTraffic{
grid-column:1;
grid-row:1;
}

.genderChart{
grid-column:2;
grid-row:1;
}

.temperatureChart{
grid-column:1;
grid-row:2;
}

.humidityChart{
grid-column:2;
grid-row:2;
}

.ageChart{
grid-column:1;
grid-row:3;
}

.adTriggerChart{
grid-column:2;
grid-row:3;
}

/* 右侧 */

.adRules{
grid-column:3;
grid-row:1 / span 3;
overflow:auto;
}

.latestEvent{
grid-column:4;
grid-row:1;
}

.recentEvents{
grid-column:4;
grid-row:2 / span 2;
display:flex;
flex-direction:column;
}

/* Recent Events 表格滚动 */

.recentEvents table{
min-width:100%;
max-height:130px;
overflow:auto;
display:block;
}

/* 表格 */

table{
width:100%;
border-collapse:collapse;
font-size:13px;
margin-top:10px;
table-layout:auto;
}

th{
color:#38bdf8;
text-align:left;
padding:7px;
font-size:14px;
}

td{
padding:5px;
border-bottom:1px solid #334155;
white-space:nowrap;
}

/* 表格优化 */

.adRules table{
min-width:100%;
}

/* 广告展示区域 */

.adDisplay{
margin-top:15px;
padding-top:10px;
border-top:1px solid #334155;
text-align:center;
}

/* 广告图片 */

.adImage{

width:160px;
max-height:100px;

object-fit:contain;

border-radius:10px;

box-shadow:0 0 10px rgba(56,189,248,0.35);

margin:10px auto;

display:block;

background:#0f172a;
padding:6px;

}

/* camera snapshot */

.cameraImage{

width:100%;
max-height:150px;

object-fit:cover;

border-radius:10px;

margin-top:10px;

box-shadow:0 0 10px rgba(56,189,248,0.35);

}